// color

$font-main: #333;
$font-secondary: #666;
$font-third: #999;

$btn-main: #ff7d00;
$btn-secondary: #e4393c;

$highlight: #e4393c;

$mb: 10px;

* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
  	outline: 0;
}

body {
	background-color: #f7f7f7;
	user-select: none;
	font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	font-weight: normal;
}

img {
	max-width: 100%;
}

a,a:hover {
	text-decoration: none;
	color: $font-main;
}

// util
.cf::after {
	content: '';
	display: table;
	clear: both;
}

.nospace {
	font-size: 0;
}

// layout
.block {
	font-size: 12px;
	background-color: #fff;
	border-top: 1px solid #ddd;
  	border-bottom: 1px solid #ddd;
  	margin-bottom: $mb;
}
.box {
	@extend .block;
	.hd {
		padding: 10px 40px 10px 0;
		margin: 0 10px;
		.tit {
			font-size: 16px;
			color: $font-main;
			font-weight: bold;
			display: inline-block;
		}
		&::after {
			@extend .cf::after;
		}
	}
	.bd {
		font-size: 12px;
		color: $font-main;
	}
}

// good
.good-detail {
	@extend .block;
	h1 {
		font-size: 14px;
		font-weight: normal;
		margin: 0;
	}
}
.good-detail-row {
	margin: 0 10px;
	padding: 10px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-bottom: -1px;	
}
.good-detail-row.cols {
	white-space: nowrap;
}
.good-detail-des {
	color: $highlight;
}
.good-detail-price {
	font-size: 14px;
	em {
		font-weight: bold;
		color: $highlight;
		font-style: normal;
	}
	.good-detail-comment {
		float: right;
		font-size: 12px;
		color: $font-third;
	}
}
.good-detail-col {
	display: inline-block;
	vertical-align: top;
	color: $font-third;
}
.valign {
	.good-detail-col {
		vertical-align: middle;
	}
}
.good-detail-status {
	color: $highlight;
	padding: 0 20px;
}
.good-detail-tag {
	font-size: 12px;
	background: $highlight;
	color: #fff;
	padding: 0 8px;
	border-radius: 3px;
	display: inline-block;
	height: 18px;
	white-space: nowrap;
	line-height: 18px;
	margin-right: 8px;
}
.good-detail-color {
	font-size: 12px;
	color: $font-main;
	padding: 0 8px;
	display: inline-block;
	height: 38px;
	white-space: nowrap;
	line-height: 38px;
	margin-right: 8px;
	border: 1px solid #ddd;
}
.good-detail-picker {
	font-size: 0;
	.decr,.incr,input {
		display: inline-block;
		width: 38px;
		height: 38px;
		line-height: 38px;
		border: 1px solid #ddd;
		background-color: #eee;
		text-align: center;
		position: relative;
		vertical-align: top;
		margin-left: -1px;
	}
	input {
		-webkit-appearance: none;
		border-radius: 0;
		width: 70px;
		font-size: 16px;
		background: #fff;
		color: $font-main;
	}
	.decr::after {
		content: '';
		background: $font-third;
		width: 16px;
		height: 4px;
		position: absolute;
		border-radius: 2px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.decr.active::after {
		background: $font-main;
	}
	.incr::before,.incr::after {
		@extend .decr::after;
		background: $font-main;
	}
	.incr::after {
		transform: translate(-50%,-50%) rotate(90deg);
	}
}

.shop {

}
.shop-cover {
	width: 90px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	height: 30px;
	overflow: hidden;
	border: 1px solid #eee;
}
.shop-name {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: $font-secondary;
}
.shop-link {
	float: right;
	width: 35px;
	padding-left: 5px;
	line-height: 1.5;
	text-align: center;
	font-size: 12px;
	border-left: 1px solid #eee;
}



